/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/05/2017, 01:24:38 PM
    Author     : Yax
*/
@font-face {
    font-family:Hiruko;
    src: url(fonts/HirukoBlackAlternate.ttf);
}
body{
    background: white;
}
.faq { 
    background: wheat;
    margin-top: 6px;
    margin-bottom: 6px;
    background: white;   
    box-shadow: 2px 2px 2px 2px #E8E8E8;
    text-align: center;
}