@font-face {
  font-family: 'icomoon';
  src:  url('..//fonts/icomoon.eot?c4rklb');
  src:  url('..//fonts/icomoon.eot?c4rklb#iefix') format('embedded-opentype'),
    url('..//fonts/icomoon.ttf?c4rklb') format('truetype'),
    url('..//fonts/icomoon.woff?c4rklb') format('woff'),
    url('..//fonts/icomoon.svg?c4rklb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paw:before {
  content: "\e900";
}
.icon-number:before {
  content: "\e901";
}
.icon-number2:before {
  content: "\e902";
}
.icon-number3:before {
  content: "\e903";
}
.icon-number4:before {
  content: "\e904";
}
.icon-number5:before {
  content: "\e905";
}
.icon-number6:before {
  content: "\e906";
}
.icon-number7:before {
  content: "\e907";
}
.icon-number8:before {
  content: "\e908";
}
.icon-number9:before {
  content: "\e909";
}
.icon-number10:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}

