/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2016, 07:01:21 PM
    Author     : Yax
*/


/* ==========================================================================
   Yax's custom styles
   ========================================================================== */
@font-face {
font-family:Hiruko;
src: url(font/HirukoBlackAlternate.ttf);
}
@font-face {
font-family:Lane;
src: url(fonts/Sullivan.ttf);
}
.color{
    background: transparent;
    border: none;
    border-color: transparent;
    transition: 0.5s all linear;
}
.color.cambia-color {
    background-color: #ED9153;
    -webkit-box-shadow: 0px 0px 4px 0px #ED9153;
    -moz-box-shadow: 0px 0px 4px 0px #ED9153;
    box-shadow: 0px 0px 4px 0px #ED9153;
}
.enlaces>li>a{
	color: white;
        font-family: Lane;
        font-size: 30px;
}
.enlaces>li>a:hover,
.enlaces>li>a.hover
{
    color: #8a4545;
    background-color: transparent;
}
.enlaces> li>a:focus,
.enlaces>li>a.focus{
    background-color: #8a4545;
    color: white;
    border-radius: 8px;
    outline: 0px;
}
.enlaces> li>a:active,
.enlaces>li>a.active{
    background-color: #8a4545;
    outline: 0px;
    color:black;
}

.hm-icon{
	background: white;
}
.hm-tl{
	color: black;
        font-family: Hiruko;
        font-size: 25px;
}
.hm-lk{
	color: white;
        font-family: Hiruko;
        font-size: 23px;
}
.hm-lk:hover{
    color: #8a4545;
}
.error{
    font-family: Lane;
    font-size: 26px;
    color: red; 
    visibility: hidden;
}
.centrado{
    font-family: Lane;
    font-size: 28px;
    color: black;
    text-align: center;
    text-decoration: none;
}
a{
   color:  #8a4545;
   text-decoration: none; 
}
a:hover{
    color: #d9665b;
    text-decoration: none;
}
a:focus{
    color: #d9665b;
    text-decoration: none;
    outline: 0;
}
.datox>div>div>input{
    font-size: 24px;
    color: black;
}
.datox>div>div>input:focus{
    outline: 0px;
}
.who{
    color: black;
    font-family: Lane;
    font-size: 28px;
}
.colors{
    background-color: #FBD157;
    font-size: 30px;
}
.creditos{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 60px;
}
.creditos>div>p{
    font-family: Hiruko;
    font-size: 30px;
}
.creditosR>a{
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
    outline: 0;
    text-decoration: none;
}
.facebook:hover{
    color: #3b5998;
}
.youtube:hover{
    color: #b31217;
}
.twitter:hover{
    color: #4099FF;
}
.creditos>div{
    font-family: Lane;
    font-size: 30px;
}
.culbtn{
    width: 120px;
    height: 38px;
    font-family: Lane;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color:  #FBD157;
    border: none;
    border-radius: 8px;
}
.culbtn:hover {
    background-color: rgba(0,0,0,0);
    color: black;
    box-shadow: inset 0 0 0 3px  #FBD157;
}
.noculbtn{
    width: 120px;
    height: 40px;
    font-family: Lane;
    font-size: 23px;
    text-align: center;
    outline: none;
    color: white;
    border: none;
    border-radius: 8px;
}
.noculbtn:hover {
    background-color: rgba(0,0,0,0);
    color: black;
    box-shadow: inset 0 0 0 3px gray;
}
.campos{
    font-family: Lane;
    font-size: 30px;
    color: black;
}
.hm-tlRR{
	color: #FBD157;
        font-family: Hiruko;
        font-size: 16px;
}

.numeros{
    color: #FBD157;
    font-size: 120px;
}
.bad{
    background-image: url('imgs/fondo.png');
    text-align: center;    
}